extends layout

block content
  h1= title
  p Welcome to #{title}

p This is Keerthi. Wlcome to my world!!.
p Unlike others I also some interesting facts.
p I like being bit introvert and calm, but my mind cant be so calm.
p Basically I'm hardworking on things which I like the most.I will be friendly and quite extrovert and funny whem I'm with my close friends.