extends layout

block content
  h1= title
  p Welcome to #{title}
  p Unlike others I also have some interesting facts.
  p I like being a bit introverted and calm, but my mind can't be so calm.
  p Basically, I'm hardworking on things which I like the most. 
  p will be friendly and quite extroverted and funny when I'm with my close friends.
